<!DOCTYPE html>
<html>
  <head>
    <title>RailsMealMaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Render Nutritionist Sidebar %>
    <% if current_nutritionist %>
      <%= render "shared/nutritionist_sidebar" %>

    <%# Render Patiente/User Sidebar %>
    <% elsif current_user %>
      <%= render "shared/user_sidebar" %>

    <%# Render HomePage %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
